@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
#root {
  /* margin: 0 auto; */
  text-align: center;
}
/*     --first-color: #4070f4;
    --second-color: #0e2431;
     */
:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  color: #0e2431;
  scroll-behavior: smooth;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.active {
  border-bottom: 4px solid #4070f4 !important;
  padding: 8px 0;
  transition: 1.0s;
  -webkit-transition: 1.0s;
  -moz-transition: 1.0s;
  -ms-transition: 1.0s;
  -o-transition: 1.0s;
}
.inActive{
  border-bottom: none !important;
  padding: 0px 0;
  
}
.navLink:hover{
  border-bottom: 4px solid #4070f4 !important;

}